html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*------header-------*/

h1 {
	font-size: 1.8em;
}

.menu ul {
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

nav li {
	float: left;
	padding: 1em;
}

.menu a {
	text-align: center;
	display: inline-block;
}

nav {
background-color:#c7e9ee;
width:100%;
}

/*------logo & button-------*/

h1 {
	padding-left: 70px;
	display:inline-block;
	position:relative;
	top:2px;
	margin:0.5em;
}

.logo {
	width: 13%;
	position: relative;
	top:10px;
	right:370px;
}

.buy {
	margin-bottom:1rem;
	background-color:#c7e9ee;
	text-decoration:none;
	padding:5px;
	border-radius:10px;
}

/*------Image-------*/

h2 {
	text-align: center;
}

h3 {
	padding-left: 20px;
}

img {
	width: 100%;
}

.headfloat {
	position: relative;
	color: white;
}

.float {
	position:absolute;
	bottom: 4em;
	left: 40px;
}

.floatwonder {
	position:absolute;
	bottom: 100px;
	left: 150px;
}

.content {
	position: relative;
}

.sevenwonders {
	padding-left:20px;
	padding-right:20px;
}

/*------Information-------*/


dt, dd {
	display: inline;
	margin-bottom:2em;
}

.date {
	float:left;
	width: 8.8em;
}

.days {
	margin-left: 0.1em;
}

.builders {
	float:left;
	margin-left:1em;
}

.civ {
	float:left;
	margin-left: 0.1em;
}

.location {
	float:left;
	margin-left:1em;
}

.place {
	float:left;
	margin-left: 0.1em;
}

.Egypt {
	display: inline-block;
}

.learnmore {
	display:inline-block;
	background-color: #c7e9ee;
	border-radius:20px;
	padding:0.5em;
}

.button {
	text-align:center;
	margin-bottom: 1em;
}

/*------Atlantis-------*/

.movie {
	position: relative;
}

.floatwonder-two {
	padding-left:20px;
	padding-right:20px;
}

.float-two {
	position:absolute;
	bottom: 4em;
	left: 200px;
}

.drawing {
	width: 100%;
}

.atlfig {
	position: relative;
	color: white;
}

.atldiv {
	position: relative;
}

.atitle {
	position:absolute;
	bottom: 100px;
	left: 100px;
	font-weight: bold;
	font-size:1.3rem;
}

.atlfloat {
	position:absolute;
}

.showtimes {
	position:absolute;
	left: 95px;
	color: black;
	bottom:6px
}

.showdiv {
	padding-top:15px;
	padding-bottom:15px;
	background-color: #c7e9ee;
	position: relative;
	bottom: 50px;
	border-radius: 30px;
	width:60%;
	left:120px;
}

.sales {
	text-align: center;
}

.centerbody {
	text-align: center;
}

.adults {
	display: inline-block;
	padding-left: 100px;
}

.kids {
	display: inline-block;
	padding-left: 180px
}

/*------footer-------*/

.services {
	display: block;
}
