html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*------header-------*/

.masthead {
	background-image: url("../img/logo.svg");
	background-size: 55px auto;
	padding-top: .5em;
	background-repeat: no-repeat;
	background-position: left 20px;
	text-align: center;
	margin: 1em;
}


h1 {
	font-size: 1.8em;
	margin:0;
}

.menu ul {
	margin: 0;
	list-style-type: none;
	overflow: hidden;
}

nav li {
	float: left;
	padding: 1em;
}

.menu a {
	text-align: center;
	display: inline-block;
}

nav {
background-color:#c7e9ee;
width:100%;
}

/*------button-------*/

.buy {
	button
}

/*------Image-------*/

h2 {
	text-align: center;
}

h3 {
	padding-left: 20px;
}

img {
	width: 100%;
}

.headfloat {
	position: relative;
	color: white;
}

.float {
	position:absolute;
	bottom: 4em;
	left: 40px;
}

.floatwonder {
	position:absolute;
	bottom: 100px;
	left: 150px;
}

.content {
	position: relative;
}

.sevenwonders {
	padding-left:20px;
	padding-right:20px;
}

/*------Information-------*/

.info {
	margin-left:1em;
}

dd, dt {
	display:inline;
}

dt {
float:left;
clear:left;
font-weight: bold;
}

dd {
	float:left;
	margin:0;
	margin-left:0.5em;
}

.Egypt {
	display: inline-block;
}

.learnmore {
	display:inline-block;
	background-color: #c7e9ee;
	border-radius:20px;
	padding:0.5em;
	text-align:center;
	margin-top:0.5em;
}

.button {
	text-align:center;
	margin-bottom: 1em;
	margin-top:;
	clear: both;
}

/*------Atlantis-------*/

.movie {
	position: relative;
}

.floatwonder-two {
	padding-left:20px;
	padding-right:20px;
}

.float-two {
	position:absolute;
	bottom: 4em;
	left: 200px;
}

.drawing {
	width: 100%;
}

.atlfig {
	position: relative;
	color: white;
}

.atldiv {
	position: relative;
}

.atitle {
	position:absolute;
	bottom: 100px;
	left: 100px;
	font-weight: bold;
	font-size:1.3rem;
}

.atlfloat {
	position:absolute;
}

.showtimes {
	position:absolute;
	left: 95px;
	color: black;
	bottom:6px
}

.showdiv {
	padding-top:15px;
	padding-bottom:15px;
	background-color: #c7e9ee;
	position: relative;
	bottom: 50px;
	border-radius: 30px;
	width:60%;
	left:120px;
}

.sales {
	text-align: center;
}

.centerbody {
	text-align: center;
}

.adults {
	display: inline-block;
	padding-left: 100px;
}

.kids {
	display: inline-block;
	padding-left: 180px
}

/*------footer-------*/

.services {
	display: block;
}
