@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin:0;
}

/*------header-------*/

.masthead {
	text-align: left;
	position: relative;
}

.logo
{
	width:2em;
	/*float: left;*/
	display: inline-block;
	position: relative;
	margin-left: 2em;
}

/*h1 {
	font-size: 1.8em;
	margin:1em;
}*/

h1 {
	display: block;
	margin:1.2em;
}

.menu {
	margin-bottom: 0;
	margin-top:1em;
}

.menu ul {
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

	nav li {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
	margin: 0;
	}


.menu a {
	text-align: center;
	display: inline-block;
}

nav {
background-color:#c7e9ee;
width:100%;
}

@media only screen and (min-width: 15em) {
	nav li {
		width: 49%;
	}

	h1 {
	font-size: 1.8em;
	margin:1.4em;
	}

}

@media only screen and (min-width: 37.5em) {
	nav li {
	width: 24%;
	}
}

/*------buy button-------*/

.buy {
	/*float:right;*/
	background-color:#c7e9ee;
	border-radius:10px;
	text-decoration: none;
	padding:0.5em;
}

.buybutton {
	width: 3em;
	float: right;
	margin-right: 2em;
}

}


/*-------------*/

/*------logo & Header Display-------*/

/*-------------*/

/*------Image-------*/

.headerimg {
position:relative;
}

.content {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 0;
}

.headfloat {
	position:relative;
}

/*.headerimg {
	position: relative;
	color: white;
}

.content {
	position: absolute;
	width:100%;
	text-align: center;
	bottom: 0;
	margin: 4em 0;
}

.headfloat h2, .headfloat p {
	display: block;
}

.headerimg img {
	width: 100%;
}*/

@media only screen and (min-width: 15em) {
	}


/*-------------*/

/*------Information-------*/

.info {
	margin-left:1em;
}

dd, dt {
	display:inline;
}

dt {
float:left;
clear:left;
font-weight: bold;
}

dd {
	float:left;
	margin:0;
	margin-left:0.5em;
}

.Egypt {
	display: inline-block;
}

.learnmore {
	display:inline-block;
	background-color: #c7e9ee;
	border-radius:20px;
	padding:0.5em;
	text-align:center;
	margin-top:0.5em;
}

.button {
	text-align:center;
	margin-bottom: 1em;
	margin-top:;
	clear: both;
}

.sevenwonders {

	width: calc(100% - 2em);
	margin: 0 1em;
	}

/*-------------*/

/*------Atlantis Image & Text-------*/

.movie {
	position: relative;
}

.floatwonder-two {
	padding-left:20px;
	padding-right:20px;
}

.float-two {
	position:absolute;
	bottom: 4em;
	left: 200px;
}

.drawing {
	width: 100%;
}

.atlfig {
	position: relative;
	color: white;
}

.atldiv {
	position: relative;
}

.textbox {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align:center;
	margin: 4em 0;

}

.atitle {
	display:block;
}

.atlfloat {
	display: block;
}

.showtimes {
	position:absolute;
	left: 95px;
	color: black;
	bottom:6px
}


.showdiv {
	padding-top:15px;
	padding-bottom:15px;
	background-color: #c7e9ee;
	position: relative;
	bottom: 50px;
	border-radius: 30px;
	width:60%;
	left:120px;
}

.sales {
	text-align: center;
}

.centerbody {
	text-align: center;
}

.adults, .kids {
	width: 50%;
	display: inline-block;
	text-align: center;
}

/*-------------*/

/*------footer-------*/

.services {
	display: block;
}

.contact {
	display: inline;
}
/*-------------*/


@media only screen and (min-width: 50em) {

	.leftmenu {
		width: 15em;
		height: 100vh;
		position:fixed;
	}

	main, footer {
		width: calc(100% - 15em);
		float:right;
	}

	nav li {
	width: 100%;
	display: inline-block;
	text-align: left;
	margin-left: 1em;
	padding: 0.5em 0 0.5em 0;
	}

.content {
	width:100%;
	text-align: center;
	position: relative;
	top: -5.8em;
}

.content h2 {
	position: relative;

	color: white;
}

.content p {
color:black;
}

.headerimg {
	position: static;
}

.headfloat h2, .headfloat p {
	display: block;
}

.headfloat {
	margin:0;
}

.headerimg img {
	width: 100%;
}

}
